section .inner-page {
    padding-top: 0;
    margin: 0;
    overflow: hidden;
}

.inner-page .consulting {
    width: 100%;
    min-height: 70vh;
    background: url("../img/Industries/executives-working-together-project.jpg") center center;
    background-size: cover;
    position: relative;
    padding: 0;
}

.inner-page .consulting .para {
    width: 45vw;
}

.inner-page .consulting p {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

@media (max-width: 992px) {
    .inner-page .consulting h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 56px;
    }

    .inner-page .consulting .para {
        width: 50vw;
    }

    .inner-page .consulting p {
        font-size: 10px;
    }
}

.services .container .section-title p {
    font-size: 16px;
}

.tab-content .tab-pane p {
    font-size: 17px;
}

