.debug {
  border: 3px solid black;
}

hr {
  color: black;
  margin: 10px 0;
}

.inner-page {
  padding-top: 0;
  margin: 0;
  overflow: hidden;
}

.inner-page .consulting {
    margin-top: 20px;
    width: 100%;
    min-height: 80vh;
    background-color: #931a2e;
    position: relative;
}


.inner-page .consulting h1 {
    font-size: 55px;
    font-weight: 700;
    text-align: left;
    color: #fff;
}

.inner-page .consulting p {
    text-align: left;
    font-size: 20px;
    font-weight: 550;
    color: #fff;
}

.consulting .container {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.hero-img {
    margin-top: 100px;
    z-index: 5;
    position: absolute;
    height: 70vh;
    width: 100%;
}

.hero-img img {
    margin-top: 0;
    height: 82vh;
    float: right;

}

.inner-page .consulting .para {
  width: 45vw;
}

.services .container {
  background-color: #fff;
}

.services .container .section-title {
  text-align: left;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media (max-width: 992px) {
    .inner-page .consulting {
        height: 100vh;
    }
  
  .inner-page .consulting h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
    line-height: 35px;
  }

  .services .container .row {
    margin-top: 0;
    margin-bottom: 0;
  }

  .services .container .row .col-md-6 {
    margin-top: 25px;
  }

  .inner-page .consulting .para {
    width: 50vw;
  }

  .inner-page .consulting p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {

    .hero-img {
        z-index: 5;
        position: absolute;
        min-height: 40vh;
        width: 100%;
    }
    
    .hero-img img {
        margin-top: 30px;
        height: 40vh;
        width: auto;
        float: right;
    }

    .inner-page .consulting {
        height: 40vh !important;
    }

    
    .consulting .container {
        min-height: 40vh;
        display: flex;
        align-items: center;
    }

    .inner-page .consulting .para {
        width: 35vw;
    }

    .inner-page .consulting h1 {
        width: 35vw;
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        color: #fff;
    }
    
    .inner-page .consulting p {
        text-align: left;
        font-size: 10px;
        font-weight: 350;
        color: #fff;
    }
}

.services .container .section-title p {
  font-size: 16px;
}

.icon-box .description {
  display: inline;
}

.bi-arrow-right {
  color: #fff;
  margin-left: 10px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.icon-box:hover .bi-arrow-right {
  margin-left: 17px;
  transition: all 0.3s ease-in-out;
}

.services .icon-box {
  padding-left: 20px;
}

.icon-box .title {
  margin: 0;
  display: inline-block;
  block-size: fit-content;
}

.icon-box > h4 > a,
.icon-box > h4 > a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px 15px 0;
  font-size: 17px;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.icon-box > h4 > a,
.icon-box > h4 > a:focus {
  font-size: 17px;
  line-height: 0;
}

.icon-box > h4 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 3px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.icon-box > h4 > a:hover:before,
.icon-box > h4:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 102%;
}

.icon-box > h4 > a:hover,
.icon-box > h4.active,
.icon-box > h4.active:focus,
.icon-box > h4:hover > a {
  color: #fff;
}

.services .icon-box {
  padding-right: 0;
  margin-right: 0;
}

.icon-box .row {
  margin-top: 0;
  margin-bottom: 0;
}

.icon-box .row .col-5 {
  margin-right: 0;
  padding-right: 0;
}

.icon-box .row img {
  margin: 0;
  padding: 0;
  float: right;
  width: 300px;
  height: auto;
}

.about .container .row .section-title p {
  font-size: 30px;
  font-weight: 450;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.work-with-us-text {
  font-size: 20px !important;
  line-height: 25px !important;
}

.work-with-us-question-text {
  font-size: 30px !important;
}


.recruitment-text .row .content-item {
  padding: 20px;
}

.recruitment-text .row .content-item h4 {
  margin: 10px 0;
}


.recruitment-text .row .content-item span {
  display: inline;
  font-size: 15px;
  font-weight: 400;
}

.htgr {
  border: 0;
  background-color: #fff;
}