.msm__banner {
  background: url("../../assets/img/slide/slide-17.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 70px;
  min-height: 70vh !important;
}
.msm__banner > div > h1 {
  font-weight: 700;
}
.msm__banner > div > p {
  font-weight: 550;
}
.my__swiper__slide {
  width: 20vw !important;
}
.my__testimonial__item {
  width: 150px !important;
}
.my__testimonial__img {
  height: 150px;
}

.services .container .section-title {
  text-align: left !important;
}
.swiper-pagination-bullet {
  border: 1px solid #931a2e !important;
}
.swiper-pagination-bullet-active {
  background-color: #931a2e !important;
}
.filter-active {
  color: #931a2e !important;
}
#portfolio-flters > li:hover {
  color: #931a2e !important;
}
.bxs-quote-alt-left,
.bxs-quote-alt-right {
  color: white !important;
}
.engagements__slide {
  display: flex !important;
  justify-content: center !important;
}
.engagements__slide > img {
  height: 100px !important;
  object-fit: contain;
}
#engagement__wrapper > .swiper-slide > img {
  -webkit-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
}
#engagement__wrapper > .swiper-slide :hover {
  -webkit-filter: none !important;
  filter: none !important;
}
.testimonial-item > p {
  background-color: #931a2e !important;
  color: white;
  min-height: 250px !important;
  max-height: 250px !important;
}
/* .navbar-mobile li:hover > a {
  color: #931a2e !important;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #931a2e !important;
} */
@media (max-width: 1199px) {
  .my__swiper__slide {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
  }
  .testimonial-item > p {
    min-height: 20px !important;
  }
}
@media (max-width: 400px) {
  .testimonial-item > p {
    min-height: 280px !important;
    max-height: 280px !important;
  }
}
