.msm__banner {
  background: url("../../assets/img/slide/slide-17.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 70px;
  min-height: 70vh !important;
}
.msm__banner > div > h1 {
  font-weight: 700;
}
.msm__banner > div > p {
  font-weight: 550;
}
.my__swiper__slide {
  width: 20vw !important;
}
.my__testimonial__item {
  width: 150px !important;
}
.my__testimonial__img {
  height: 150px;
}

.services .container .section-title {
  text-align: left !important;
}
.swiper-pagination-bullet {
  border: 1px solid #931a2e !important;
}
.swiper-pagination-bullet-active {
  background-color: #931a2e !important;
}
.filter-active {
  color: #931a2e !important;
}

.bxs-quote-alt-left,
.bxs-quote-alt-right {
  color: white !important;
}
.engagements__slide {
  min-width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}
.engagements__slide__img {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.engagements__slide__img > img {
  width: 200px !important;
  object-fit: contain;
  -webkit-filter: grayscale(100%) !important;
  filter: grayscale(100%) !important;
}

.engagements__slide__img > img:hover {
  -webkit-filter: none !important;
  filter: none !important;
}
.testimonial-item > p {
  background-color: #931a2e !important;
  color: white;
  min-height: 250px !important;
  max-height: 250px !important;
}
#map {
  min-width: 100% !important;
  max-width: 100% !important;
  height: 500px !important;
}
.portfolio-wrap {
  border: 1px solid #931a2e;
}
.portfolio-wrap:hover .portfolio__modify__right {
  display: none;
}
.portfolio__modify__right {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  transition: all 0.5s ease-in-out;
}
.portfolio__modify__right > p {
  text-align: center;
}
.portfolio__modify__right > h1 {
  font-size: 1.2rem !important;
}
.portfolio-info {
  /* border-top: 3px solid #931a2e !important;
  border-left: 3px solid #931a2e !important; */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.modal-content {
  border-radius: 16px !important;
}

.btn-close {
  background: transparent url() !important;
  opacity: 1 !important;
  color: #444444 !important;
}
.btn-close:hover {
  color: #931a2e !important;
}
.modal-body {
  display: flex !important;
  flex-direction: column !important;
  height: 500px !important;
}

.portfolio__show__container__body__b1,
.portfolio__show__container__body__b2 {
  display: flex;
  flex: 0.5;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.portfolio__show__container__body__b1 {
  border-bottom: 1px solid #931a2e;
}
.portfolio__b1__left,
.portfolio__b1__right,
.portfolio__b2__left,
.portfolio__b2__right {
  padding: 8px !important;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.portfolio__b1__right,
.portfolio__b2__right {
  border-left: 1px solid #931a2e;
}
.portfolio__modify__right > p {
  margin-bottom: 0;
  font-weight: 300;
}
.pimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.emgagement__mob__container {
  display: none;
}

.emgagement__web__container {
  display: inherit;
}
.swiper-mob-pagination,
.swiper-web-pagination {
  text-align: center;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #931a2e;
}
.portfolio__options {
  padding: 24px !important;
}
.portfolio__options > li {
  border: 1px solid #931a2e;
  border-radius: 20px;
  background-color: white;
}
#portfolio-flters > li:hover {
  border: 1px solid #931a2e;
  border-radius: 20px;
  background-color: white;
}
.portfolio #portfolio-flters {
  box-shadow: none !important;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.portfolio__options > li {
  border: 1px solid #931a2e;
  border-radius: 20px;
  background-color: white;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background-color: #931a2e !important;
  color: white !important;
}

/*test*/
/* .navbar-mobile li:hover > a {
  color: #931a2e !important;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #931a2e !important;
} */
.about {
  margin-top: 75px !important;
}
.about__p {
  margin-left: 48px !important;
}
.process__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 400px !important;
  max-height: 400px !important;
}
.process__img {
  flex: 0.5;
}
.process__img > img {
  max-height: 350px;
  object-fit: contain;
}

.process__content {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.process__content > h6,
.publications__content > h6 {
  color: rgb(19, 19, 19);
  font-size: 3rem;
  font-weight: 1000;
  text-align: left;
}
.process__content > p,
.publications__content > p {
  text-align: left;
  color: #444444 !important;
  font-size: 1rem !important;
}

/* insight css*/
.insight__btn {
  background-color: white;
  border: 1px solid #931a2e;
  border-radius: 50px;
  color: #931a2e;
  height: 40px;
  width: 200px;
  transition: all 0.5s ease-in-out;
  margin-right: 16px;
}
.insight__btn:hover {
  background-color: #931a2e;
  color: white;
}
.publications__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.publications__content > p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.takeways__navigate {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 8px; */

  background: white;
  width: 40px !important;
  height: 40px !important;
  border: 2px solid #931a2e;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
.takeways__navigate i {
  font-size: 28px;
  color: #931a2e;
  line-height: 0;
  transition: all 0.4s ease-in-out;
}
.takeways__navigate:hover {
  background-color: #931a2e;
}

.takeways__navigate:hover i {
  color: white;
}
.carousel-control-next,
.carousel-control-prev {
  opacity: 1 !important;
}
.member-info-content {
  left: 0 !important;
  right: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.share-update-card {
  display: flex !important;
  flex-direction: row !important;
}
.loader {
  color: #931a2e;
}

/* contact page*/
/* ---------------- */
.email > p {
  color: #931a2e !important;
}
.email > p > span {
  color: #252525 !important;
}
.email > i {
  background-color: rgba(236, 170, 170, 0.2) !important;
  color: #931a2e !important;
  transition: all 0.5s !important;
}
.email > i:hover {
  background-color: #931a2e !important;
  color: white !important;
}
.form-element:focus {
  outline: none;
  box-shadow: none !important;
  border-color: #931a2e !important;
}
.submit-btn {
  background-color: white !important;
  border: 1px solid #931a2e !important;
  color: #931a2e !important;
  transition: all 0.5s !important;
}
.submit-btn:hover {
  background-color: #931a2e !important;
  color: white !important;
}
.process__icon {
  height: 4rem;
  width: 4rem;
}
.about__subdata {
  font-size: 2rem !important;
}
.about__data {
  font-size: 4rem;
}
.about__title > p {
  font-size: medium !important;
}
.highlight {
  color: #931a2e;
  font-size: large;
}
/* select > option {
  color: whitesmoke !important;
  background-color: #931a2e !important;
} */

@media (max-width: 1199px) {
  .my__swiper__slide {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
  }
  .testimonial-item > p {
    min-height: 20px !important;
  }
}
@media (max-width: 1199px) {
  .process__body {
    flex-direction: column;
    min-width: 100%;
    max-height: none !important;
    margin-top: 2rem;
  }
  .process__img {
    min-width: 100% !important;
  }
  .process__img > img {
    width: 100%;
  }
  .process__content {
    margin-top: 2rem;
    min-width: 100%;
  }
}
@media (max-width: 748px) {
  .emgagement__mob__container {
    display: inherit;
  }
  .emgagement__web__container {
    display: none;
  }
}
@media (max-width: 400px) {
  .testimonial-item > p {
    min-height: 280px !important;
    max-height: 280px !important;
  }
}
