.msm__banner {
  background: url("../../assets/img/slide/slide-17.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 70vh !important;
}
