.quiz-section {
  padding-top: 10px !important;
}

.carousel {
  width: 100%;
  position: relative;
}

.carousel .progress-bar {
  position: relative;
  background-color: #fff;
  height: 2em;
}
.carousel .progress-bar .progress-bar-insider {
  position: relative;
  background-color: #00a5b5;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  width: 4%;
  height: 2em;
  transition: 0.2s width;
}
.carousel .progress-bar .progress-bar-insider:after {
  content: attr(data-progress);
  color: white;
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel__content {
  width: auto;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  transition: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: translate3d(0, 0, 0);
}

.carousel .carousel__content .carousel--item {
  display: flex;
  justify-content: center;
  float: left;
  background-color: #fff;
  height: 100%;
}

.carousel .carousel-nav {
  display: flex;
  justify-content: center;
}

.carousel a {
  margin: 5px;
  background: #fff;
  color: #931a2e;
  border: 2px solid #931a2e;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  line-height: normal;
  height: 40px;
  width: 40px;
}

.carousel a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel a:hover {
  border: 50%;
  background: #931a2e;
  color: #FFF;
}

.carousel a:disabled {
  opacity: 50%;
  border: 2px solid #931a2e;
  border-radius: 50%;
  background: #931a2e;
  color: #fff;
  cursor: default;
}

.result-question {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh !important;
  background-color: #931a2e !important;
  border-radius: 20px !important;
}

.carousel--item .carousel--btn {
  display: block;
  margin: 5px;
  padding: 5px 20px !important;
  background: #fff;
  color: #931a2e;
  border: 2px solid #931a2e;
  border-radius: 20px;
  font-size: 20px !important;
  cursor: pointer;
  line-height: normal;
  width: fit-content !important;
  display: flex;
  justify-content: center !important;
}

.carousel--item .carousel--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel--btn:hover {
  border-color: white;
  background-color: #931a2e !important;
  color: #fff !important;
}

.carousel--title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.carousel img {
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
}

.carousel h4 {
  text-align: right;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 18px;
  min-height: 50px;
}

.carousel input[type=radio] {
  display: none;
}

.carousel label {
  display: block;
  float: right;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 500;
  background: #fff;
  color: #000;
  border: 2px solid #931a2e;
  border-radius: 30px;
  width: calc(60% - 8px);
  cursor: pointer;
}

.carousel label:hover {
  background: #931a2e;
  color: #fff;
}

.carousel input[type=radio]:checked + label {
  background: #931a2e;
  color: #fff;
  transition: all 200ms ease-in-out;
}

#quiz-results-section {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 20px !important;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba( 255, 255, 255, 0.45 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#quiz-results-section .result {
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  background-color: #931a2e;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  width: 40%;
}

#quiz-results-message-section {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.close {
  background-color: transparent !important;
  width: 100%;
  display: flex;
  justify-content: end;
}

#quiz-close-button {
  border: none !important;
  margin: 0 !important;
  display: inline;
  background-color: transparent !important;
  color: #fff !important; 
  font-size: 40px !important;
  opacity: 1;
}

#quiz-close-button:hover {
  color: #000 !important;
}